* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  --darkBlue: #384b70;
  --lightBlue: #507687;
  --red: #b8001f;
  --grey: #f6f6f6;
  --white: white;
}

/*Elements*/
/*Nav*/
nav {
  background-color: var(--darkBlue);
  color: white;
  text-align: center;
  /* padding: 10px; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  display: flex;
}

nav img {
  width: 90px;
  height: 50px;
}
/*footer*/
/*Id's*/
.hero {
  display: flex;
  background-color: var(--lightBlue);
}

/*Classes*/
.sidebar {
  background-color: var(--darkBlue);
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  top: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--white);
  background: none;
  border: none;
}

.footer {
  background-color: var(--darkBlue);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  width: 100%;
}

.list-item {
  background-color: var(--white);
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.1);
  border: 0.1px solid rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  width: 98%;
  height: 280px;
  margin: 10px;
  padding: 20px;

  display: flex;
  align-items: center;
}

.list-item img {
  height: 240px;
  border-radius: 10px 0 0 10px;
}

.name-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

h3 {
  color: var(--darkBlue);
}

h5 {
  color: var(--darkBlue);
}

a {
  color: var(--darkBlue);
}
.host-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.location-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.description-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.amenity-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

.btn-round {
  background-color: var(--red);
}
